.logo {
  width: 120px;
  height: 120px;
	}
	
body {
  background-image: url("https://image.ibb.co/fqkgMw/dust_scratches.png");
}

.navbar{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.main {
  margin-top: 200px; /* Add a top margin to avoid content overlay */
  margin-bottom: 20px;
}